
google-cloud==0.34.0
google-cloud-storage==1.29.0
ipykernel==5.3.1
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
jupyter-client==6.1.5
jupyter-core==4.6.3
python-dateutil==2.8.1
requests==2.24.0
tqdm==4.47.0

# Handy for work
numpy==1.19.0
scikit-learn==0.23.1
scipy==1.5.1

# For GPU
numba==0.48

# For audio analysis
librosa==0.7.2  # has issues
